.container{
	margin-top:20px;
}
.typecho-option {
    width: 95%;
    padding: 10px;
    float:left;
    margin: 2.3%;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.49);
}
.primary {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.inner {
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.49);
    text-align: center;
    background-color: #dadada29;
}
